node_modules
dist
build
.env
debug.log
todo.txt
.db/data/
.db/data-test/

# testing
coverage

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
